@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Raleway:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 16vh;
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 100;
}

nav .nav-left {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

nav .nav-left img {
  max-height: 110px;
  padding: 1rem;
}

nav .nav-right {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav-right h3 {
  padding-right: 2rem;
  font-size: 1.5rem;
  font-family: 'Libre Franklin', sans-serif;
}

nav .nav-right a img {
  padding-right: 1rem;
  max-height: 40px;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background-image: url("https://images.pexels.com/photos/97075/pexels-photo-97075.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  background-position: 80% 25%;
  background-repeat: none;
  position: relative;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.602);
  z-index: 3;
}

.hero .key {
  position: relative;
  z-index: 8;
  position: relative;
}

.hero .key img {
  max-height: 200px;
  border-radius: 50%;
  z-index: 8;
  position: relative;
}

.hero .key svg {
  position: absolute;
  width: 100%;
  max-width: 700px;
  fill: rgba(255, 255, 255, 0.87);
  top: -10%;
  left: 0;
}

.hero .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2rem;
  width: 60%;
  margin: auto;
  color: white;
  z-index: 3;
}

.hero .title h1 {
  padding-top: 10rem;
  text-align: center;
  line-height: 1.5;
  font-family: 'Cinzel', serif;
  font-size: 3rem;
  text-shadow: 2px 2px 2px rgba(128, 128, 128, 0.801);
}

.hero .under-thing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  margin: auto;
  padding-bottom: 4.5rem;
  color: white;
  z-index: 3;
}

.hero .under-thing h3 {
  text-align: center;
  line-height: 1.7;
  font-size: 1.4rem;
}

.grid-section {
  width: 100%;
}

.grid-section .grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#27519f), to(white));
  background: linear-gradient(#27519f, white);
}

.grid-section .grid-container hr {
  width: 40%;
  margin: auto;
  margin-top: 1.4rem;
  border: none;
  background: black;
  height: 2px;
  padding: 0 3rem;
}

.grid-section .grid-container .hr-left {
  width: 80%;
  margin-right: auto;
  margin-top: 1.4rem;
  border: none;
  background: black;
  height: 2px;
  padding: 0 3rem;
  -webkit-transform: translateX(-30%);
          transform: translateX(-30%);
}

.grid-section .grid-container .hr-right {
  width: 80%;
  margin-right: left;
  margin-top: 1.4rem;
  border: none;
  background: black;
  height: 2px;
  padding: 0 3rem;
  -webkit-transform: translateX(30%);
          transform: translateX(30%);
}

.grid-section .grid-container .grid-left {
  margin-right: auto;
}

.grid-section .grid-container .grid-right {
  margin-left: auto;
}

.grid-section .grid-container img {
  max-width: 650px;
  max-height: 600px;
  border-radius: 5px;
  -webkit-box-shadow: 5px 2px 30px rgba(0, 0, 0, 0.554);
          box-shadow: 5px 2px 30px rgba(0, 0, 0, 0.554);
}

.grid-section .grid-container h2 {
  text-align: center;
  padding: 0 3rem;
  line-height: 1.7;
  width: 90%;
}

.image-transitions {
  padding-top: 8rem;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.image-transitions .image1 {
  max-height: 40px;
}

.image-transitions .image1 img {
  max-width: 600px;
  max-height: 50px;
  margin: auto;
  border-radius: 5px;
  -webkit-box-shadow: 5px 2px 30px rgba(0, 0, 0, 0.554);
          box-shadow: 5px 2px 30px rgba(0, 0, 0, 0.554);
}

.reviews {
  height: 60vh;
  margin-top: 7rem;
  margin-bottom: 11rem;
}

.reviews .reviews-title h2 {
  font-size: 3rem;
  text-align: center;
  font-family: 'Cinzel', serif;
}

.reviews .reviews-title hr {
  width: 40%;
  margin: auto;
  height: 3px;
  background-color: rgba(39, 81, 159, 0.432);
  border: none;
}

.reviews .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 6rem;
}

.reviews .cards .card {
  -ms-flex-preferred-size: 31%;
      flex-basis: 31%;
  -webkit-box-shadow: 1px 2px 3px black;
          box-shadow: 1px 2px 3px black;
  padding: .7rem;
  background-color: white;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .4s all ease-in-out;
  transition: .4s all ease-in-out;
  background-color: rgba(39, 81, 159, 0.432);
}

.reviews .cards .card:hover {
  scale: 1.05;
}

.reviews .cards .card .card-top {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

.reviews .cards .card .card-top img {
  height: 100px;
  border: 4px solid white;
  border-radius: 50%;
}

.reviews .cards .card .card-title {
  padding-bottom: 1rem;
  font-size: 1.2rem;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.reviews .cards .card .stars {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.reviews .cards .card .descript {
  position: relative;
}

.reviews .cards .card .descript .fa-quote-right {
  position: absolute;
  bottom: 5px;
  right: 3px;
}

.reviews .cards .card .descript p {
  line-height: 1.6;
  text-align: center;
  font-size: 1rem;
  padding-bottom: 2rem;
  position: relative;
  width: 90%;
  margin: 0 auto;
}

.reviews .cards .card .descript .fa-quote-left {
  position: absolute;
  top: -5px;
  left: 0;
}

.footer {
  background: -webkit-gradient(linear, left top, left bottom, from(#27519f), to(white));
  background: linear-gradient(#27519f, white);
  padding-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  font-family: 'Oswald', sans-serif;
}

.footer .footer-left {
  padding-left: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  line-height: 1.7;
}

.footer .footer-left hr {
  width: 20%;
  height: 3px;
  height: 3px;
  border: none;
  background: black;
}

.footer .footer-left h3 {
  line-height: 2.1;
  font-size: 1.7rem;
}

.footer .footer-left h4 {
  font-size: 1.3rem;
}

.footer .footer-left .another-one {
  padding-top: 2rem;
}

.footer .footer-right {
  padding-right: 3rem;
  padding-bottom: 1rem;
}

.footer .footer-right iframe {
  border-radius: 9px;
  -webkit-box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.473);
          box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.473);
}
/*# sourceMappingURL=style.css.map */