@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Raleway:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 16vh;
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 100;
  padding: 0 3rem;
}

nav .nav-left {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

nav .nav-left img {
  max-height: 110px;
  padding: 1rem 0;
}

nav .nav-right {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav-right .contact-us {
  padding-right: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav-right .contact-us .contact-us-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

nav .nav-right .contact-us .contact-us-top i {
  padding-right: .8rem;
}

nav .nav-right .contact-us h3 {
  padding-top: .5rem;
  font-family: 'Libre Franklin', sans-serif;
}

nav .nav-right a img {
  max-height: 40px;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background-image: url("https://images.pexels.com/photos/97075/pexels-photo-97075.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  background-position: 80% 25%;
  background-repeat: none;
  position: relative;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.602);
  z-index: 3;
}

.hero .key {
  position: relative;
  z-index: 8;
  position: relative;
}

.hero .key img {
  max-height: 200px;
  border-radius: 50%;
  z-index: 8;
  position: relative;
}

.hero .key svg {
  position: absolute;
  width: 100%;
  max-width: 700px;
  fill: rgba(255, 255, 255, 0.87);
  top: -10%;
  left: 0;
}

.hero .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2rem;
  width: 60%;
  margin: auto;
  color: white;
  z-index: 3;
}

.hero .title h1 {
  padding-top: 10rem;
  text-align: center;
  line-height: 1.5;
  font-family: 'Cinzel', serif;
  font-size: 3rem;
  text-shadow: 2px 2px 2px rgba(128, 128, 128, 0.801);
}

.hero .under-thing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  margin: auto;
  padding-bottom: 4.5rem;
  color: white;
  z-index: 3;
}

.hero .under-thing h3 {
  text-align: center;
  line-height: 1.7;
  font-size: 1.4rem;
}

.specialize {
  background-color: white;
  height: 25vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.specialize .wordsrotate {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(39, 81, 159, 0.432);
  border-radius: 5px;
  height: 50px;
  width: 180px;
  margin-left: 1rem;
}

.specialize .wordsrotate .word1 {
  position: absolute;
  opacity: 0;
  -webkit-animation: words 15s infinite;
          animation: words 15s infinite;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  white-space: nowrap;
  top: 20%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.specialize .wordsrotate .word2 {
  position: absolute;
  opacity: 0;
  -webkit-animation: words 15s infinite;
          animation: words 15s infinite;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  white-space: nowrap;
  top: 20%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.specialize .wordsrotate .word3 {
  position: absolute;
  opacity: 0;
  -webkit-animation: words 15s infinite;
          animation: words 15s infinite;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
  white-space: nowrap;
  top: 20%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.specialize .wordsrotate .word4 {
  position: absolute;
  opacity: 0;
  -webkit-animation: words 15s infinite;
          animation: words 15s infinite;
  -webkit-animation-delay: 9s;
          animation-delay: 9s;
  white-space: nowrap;
  top: 20%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.specialize .wordsrotate .word5 {
  position: absolute;
  opacity: 0;
  -webkit-animation: words 15s infinite;
          animation: words 15s infinite;
  -webkit-animation-delay: 12s;
          animation-delay: 12s;
  white-space: nowrap;
  top: 20%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@-webkit-keyframes words {
  8% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
}

@keyframes words {
  8% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
}

.grid-section {
  width: 100%;
  overflow: hidden;
}

.grid-section .grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#27519f), to(white));
  background: linear-gradient(#27519f, white);
}

.grid-section .grid-container hr {
  width: 40%;
  margin: auto;
  margin-top: 1.4rem;
  border: none;
  background: black;
  height: 2px;
  padding: 0 3rem;
}

.grid-section .grid-container .hr-left {
  width: 80%;
  margin-right: auto;
  margin-top: 1.4rem;
  border: none;
  background: black;
  height: 2px;
  padding: 0 3rem;
  -webkit-transform: translateX(-30%);
          transform: translateX(-30%);
}

.grid-section .grid-container .hr-right {
  width: 80%;
  margin-right: left;
  margin-top: 1.4rem;
  border: none;
  background: black;
  height: 2px;
  padding: 0 3rem;
  -webkit-transform: translateX(30%);
          transform: translateX(30%);
}

.grid-section .grid-container .grid-left {
  margin-right: auto;
}

.grid-section .grid-container .grid-right {
  margin-left: auto;
}

.grid-section .grid-container img {
  max-width: 650px;
  max-height: 600px;
  border-radius: 5px;
  -webkit-box-shadow: 5px 2px 30px rgba(0, 0, 0, 0.554);
          box-shadow: 5px 2px 30px rgba(0, 0, 0, 0.554);
}

.grid-section .grid-container h2 {
  text-align: center;
  padding: 0 3rem;
  line-height: 1.7;
  width: 90%;
}

.image-transitions {
  padding-top: 8rem;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.image-transitions .image1 {
  max-height: 40px;
}

.image-transitions .image1 img {
  max-width: 600px;
  max-height: 50px;
  margin: auto;
  border-radius: 5px;
  -webkit-box-shadow: 5px 2px 30px rgba(0, 0, 0, 0.554);
          box-shadow: 5px 2px 30px rgba(0, 0, 0, 0.554);
}

.reviews {
  height: 60vh;
  margin-top: 7rem;
  margin-bottom: 11rem;
}

.reviews .reviews-title h2 {
  font-size: 3rem;
  text-align: center;
  font-family: 'Cinzel', serif;
}

.reviews .reviews-title hr {
  width: 40%;
  margin: auto;
  height: 3px;
  background-color: black;
  border: none;
}

.reviews .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 6rem;
}

.reviews .cards .card {
  -ms-flex-preferred-size: 31%;
      flex-basis: 31%;
  -webkit-box-shadow: 1px 2px 3px black;
          box-shadow: 1px 2px 3px black;
  padding: .7rem;
  background-color: white;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .4s all ease-in-out;
  transition: .4s all ease-in-out;
  background-color: rgba(39, 81, 159, 0.432);
}

.reviews .cards .card:hover {
  scale: 1.03;
}

.reviews .cards .card .card-top {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

.reviews .cards .card .card-top img {
  height: 100px;
  border: 4px solid white;
  border-radius: 50%;
}

.reviews .cards .card .card-title {
  padding-bottom: 1rem;
  font-size: 1.2rem;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.reviews .cards .card .stars {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.reviews .cards .card .descript {
  position: relative;
}

.reviews .cards .card .descript .fa-quote-right {
  position: absolute;
  bottom: 5px;
  right: 3px;
}

.reviews .cards .card .descript p {
  line-height: 1.6;
  text-align: center;
  font-size: 1rem;
  padding-bottom: 2rem;
  position: relative;
  width: 90%;
  margin: 0 auto;
}

.reviews .cards .card .descript .fa-quote-left {
  position: absolute;
  top: -5px;
  left: 0;
}

.reviews .cards .card:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.background-fixed {
  height: 60vh;
  background-image: url("https://images.unsplash.com/photo-1471977360223-d8cc63cec57c?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1650&q=80");
  background-attachment: fixed;
  background-size: contain;
  position: relative;
  z-index: 1;
  mix-blend-mode: overlay;
}

.background-fixed::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.705);
  z-index: -1;
}

.background-fixed h2 {
  color: white;
  z-index: 4;
  font-family: 'Cinzel', serif;
  padding: 2rem;
  width: 70%;
  margin: auto;
  font-size: 2.3rem;
  text-align: center;
  line-height: 1.9;
}

.background-fixed p {
  color: white;
  width: 70%;
  padding: 0 2rem 2rem 2rem;
  margin: auto;
  text-align: center;
  line-height: 1.9;
}

.background-fixed hr {
  width: 50%;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.425);
  border: none;
  height: 2px;
}

.keys-section {
  padding: 3rem;
}

.keys-section .key-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.keys-section .key-cards .key-card {
  -ms-flex-preferred-size: 23%;
      flex-basis: 23%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.459);
          box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.459);
  border-radius: 5px;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  min-height: 240px;
  color: white;
}

.keys-section .key-cards .key-card.key-card1 {
  background-image: url("https://www.autokeyconnection.com/wp-content/uploads/2016/06/combo.png");
  background-position: center;
  background-size: cover;
  z-index: 3;
  background-repeat: no-repeat;
  position: relative;
}

.keys-section .key-cards .key-card.key-card1::after {
  content: '';
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.keys-section .key-cards .key-card.key-card2 {
  background-image: url("https://www.autokeyconnection.com/wp-content/uploads/2016/06/smar.png");
  background-position: center;
  background-size: cover;
  z-index: 3;
  background-repeat: no-repeat;
  position: relative;
}

.keys-section .key-cards .key-card.key-card2::after {
  content: '';
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.keys-section .key-cards .key-card.key-card3 {
  background-image: url("https://www.autokeyconnection.com/wp-content/uploads/2016/06/tkey.png");
  background-position: center;
  background-size: cover;
  z-index: 3;
  background-repeat: no-repeat;
  position: relative;
}

.keys-section .key-cards .key-card.key-card3::after {
  content: '';
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.keys-section .key-cards .key-card.key-card4 {
  background-image: url("https://www.autokeyconnection.com/wp-content/uploads/2016/06/remot.png");
  background-position: center;
  background-size: cover;
  z-index: 3;
  background-repeat: no-repeat;
  position: relative;
}

.keys-section .key-cards .key-card.key-card4::after {
  content: '';
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.keys-section .key-cards .key-card h2 {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.keys-section .key-cards .key-card img {
  max-height: 100px;
  max-width: 100px;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.keys-section .key-cards .key-card p {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.keys-section .key-cards .key-card hr {
  width: 50%;
  background-color: black;
  height: 2px;
  margin-bottom: 1rem;
  border: none;
}

.keys-section .key-cards .key-card:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.meeting-your-needs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 6rem 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.meeting-your-needs .meeting-left {
  -webkit-box-flex: 60%;
      -ms-flex: 60%;
          flex: 60%;
}

.meeting-your-needs .meeting-left h2 {
  font-size: 2rem;
  padding-bottom: 2rem;
}

.meeting-your-needs .meeting-left h2 span {
  color: rgba(39, 81, 159, 0.432);
}

.meeting-your-needs .meeting-left .meeting-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.meeting-your-needs .meeting-left .meeting-grid .meeting-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: .7rem;
}

.meeting-your-needs .meeting-left .meeting-grid .meeting-card i {
  margin-right: .7rem;
  padding: .6rem;
  color: white;
  background: black;
  border-radius: 50%;
}

.meeting-your-needs .meeting-left .meeting-grid .meeting-card .fa-dollar-sign {
  padding: .6rem .8rem;
}

.meeting-your-needs .meeting-right {
  -webkit-box-flex: 40%;
      -ms-flex: 40%;
          flex: 40%;
  position: relative;
}

.meeting-your-needs .meeting-right svg {
  fill: rgba(39, 81, 159, 0.288);
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}

.meeting-your-needs .meeting-right h3 {
  padding-bottom: 1rem;
  font-size: 2rem;
  color: rgba(39, 81, 159, 0.432);
}

.meeting-your-needs .meeting-right .meeting-right-card h4 {
  font-size: 1.4rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

.meeting-your-needs .meeting-right .meeting-right-card p {
  font-size: 1.2rem;
  line-height: 1.6;
}

.after-meeting hr {
  width: 50%;
  height: 2px;
  background-color: black;
  border: none;
  margin: 0rem auto 6rem auto;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-logo img {
  max-height: 160px;
}
/*# sourceMappingURL=style.css.map */