@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Raleway:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Raleway', sans-serif;
}


nav{
    display: flex;
    height: 16vh;
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 100;


    .nav-left{
        flex-basis: 30%;


        

            img{
                max-height: 110px;
                padding: 1rem;
            }
        
    

    }

    .nav-right{
        flex-basis: 70%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .location{
            display: flex;
            flex-direction: column;
            width: 30%;
            max-width: 200px;

            .location-top{
                display: flex;
                justify-content: center;
                align-items: center;
                i{
                    padding-right: .8rem;
                }
            }

            p{
                padding-top: .5rem;
                text-align: center;

            }



        }



        .contact-us{
            padding-left: 1rem;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;


            .contact-us-top{
                display: flex;
                justify-content: center;
                align-items: center;
                margin: auto;
                i{
                    padding-right: .8rem;
                }

            }
            h3{
                padding-top: .5rem;
                
                font-family: 'Libre Franklin', sans-serif;
            }


        }


        a{
            img{
                // padding-right: rem;
                max-height: 40px;
            }
        }

    }

}

.hero{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-image: url("https://images.pexels.com/photos/97075/pexels-photo-97075.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
    // background-attachment: fixed;
    background-position: 80% 25%;    
    background-repeat: none;  
    position: relative;

    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.602);
        z-index: 3;
    }

    
    .key{
        position: relative;
        z-index: 8;
        position: relative;
        
        // &::after{
        //     content: '';
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     height: 100%;
        //     width: 100%;
        //     background: rgba(255, 255, 255, 0.541);
        //     z-index: -1;
        // }
        img{
            max-height: 200px;
            border-radius: 50%;
            z-index: 8;
            position: relative;


        }
            svg{
                position: absolute;
                // height:/ 100%;
                width: 100%;
                max-width: 700px;
                fill: rgba(255, 255, 255, 0.87);
                top: -10%;
                left: 0;
            }
    }
    

    
    .title{
        display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    width: 60%;
    margin: auto;
    color: white;
    z-index: 3;
    h1{
        padding-top: 10rem;
        text-align: center;
        line-height: 1.5;
        font-family: 'Cinzel', serif;
        font-size: 3rem;
        text-shadow: 2px 2px 2px rgba(128, 128, 128, 0.801);
        

    }
    }
    
    .under-thing{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: auto;
    padding-bottom: 4.5rem;
    color: white;
    z-index: 3;
    h3{
        text-align: center;
        line-height: 1.7;
        font-size: 1.4rem;
    }
    }
}






.grid-section{
    width: 100%;
    // display: flex;
    // padding-top: 6rem;
    overflow: hidden;



    .grid-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        align-items: center;
        justify-content: center;

        hr{
            width: 40%;
            margin: auto;
            margin-top: 1.4rem;
            border: none;
            background: black;
            height: 2px;
            padding: 0 3rem;
        }

        .hr-left{
            width: 80%;
            margin-right: auto;
            margin-top: 1.4rem;
            border: none;
            background: black;
            height: 2px;
            padding: 0 3rem;
            transform: translateX(-30%);
        }

        .hr-right{
            width: 80%;
            margin-right: left;
            margin-top: 1.4rem;
            border: none;
            background: black;
            height: 2px;
            padding: 0 3rem;
            transform: translateX(30%);
        }




    // background-color: rgb(39, 81, 159);
        background: linear-gradient(rgb(39, 81, 159), white);

        .grid-left{
            margin-right: auto;
        }

        .grid-right{
            margin-left: auto;
        }

        // .words1{
        //     display: flex;
        //     justify-content: center;
        //     align-items: center;
        //     height: 100%;
        // }


        img{
            max-width: 650px;
            max-height: 600px;
            border-radius: 5px;
            box-shadow: 5px 2px 30px rgba(0, 0, 0, 0.554);
        }

        h2{
            text-align: center;
            padding: 0 3rem;
            line-height: 1.7;
            width: 90%;
        }
    }
}


.image-transitions{
    padding-top: 8rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;


    .image1{
        max-height: 40px;

        img{
            max-width: 600px;
            max-height: 50px;
            margin: auto;
            border-radius: 5px;
            box-shadow: 5px 2px 30px rgba(0, 0, 0, 0.554);

        }

    }
}




.reviews{
    height: 60vh;
    margin-top: 7rem;
    // background: linear-gradient(rgb(187, 187, 187), white);


    .reviews-title{
        h2{
            font-size: 3rem;
            text-align: center;
            font-family: 'Cinzel', serif;

        }

        hr{
            width: 40%;
            margin: auto;
            height: 3px;
            background-color: rgba(39, 81, 159, 0.432);
            border: none;
        }
    }

    .cards{
        display: flex;
        justify-content: space-evenly;
        padding-top: 6rem;
    
        
        .card{
            flex-basis: 31%;
            box-shadow: 1px 2px 3px black;
            padding: .7rem;
            background-color: white;
            border-radius: 5px;
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            align-items: center;
            transition: .4s all ease-in-out;
            background-color: rgba(39, 81, 159, 0.432);
            

            &:hover{
                scale: 1.05;
            }

            .card-top{
                transform: translateY(-50px);
                

                img{
                    height: 100px;
                    border: 4px solid white;
                    border-radius: 50%;
                }
                
            }

            .card-title{
                padding-bottom: 1rem;
                font-size: 1.2rem;
                transform: translateY(-20px);

            }

            .stars{
                transform: translateY(-20px);

            }


            .descript{
                position: relative;
                .fa-quote-right{
                    position: absolute;
                    bottom: 5px;
                    right: 3px;
                }

                p{
                    line-height: 1.6;
                    text-align: center;
                    font-size: 1rem;
                    padding-bottom: 2rem;
                    position: relative;
                    width: 90%;
                    margin: 0 auto;
    
                    // &:after{
                    //     position: absolute;
                    //     content: "\f10d";
                    //     height: 30px;
                    //     width: 30px;
                    //     top: 0;
                    //     left: 0;
                    //     z-index: 3;
                    //     font-weight: 400;
                    //     font-family: "Font Awesome 5 Free";
    
                    // }
                }

                .fa-quote-left{
                    position: absolute;
                    top: -5px;
                    left: 0;
                }

            }
            }





            
        }
        margin-bottom:11rem;
    }



    .background-fixed{
        height: 60vh;
        background-image: url('https://images.unsplash.com/photo-1471977360223-d8cc63cec57c?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1650&q=80');
        background-attachment: fixed;
        background-size: contain;
        position: relative;
        z-index: 1;
        // background: linear-gradient(blue, yellow);
        mix-blend-mode: overlay;

 
        &::after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.705);
            z-index: -1;
        }



      
            h2{
                color: white;
                z-index: 4;
                font-family: 'Cinzel', serif;
                padding: 2rem;
                width: 70%;
                margin: auto;
                font-size: 2.3rem;
                text-align: center;
                line-height: 1.9;

    
            }

            hr{
                width: 50%;
                margin: auto;
                background-color: rgba(255, 255, 255, 0.425);
                border: none;
                height: 2px ;
            }

        
    }






.footer{
    background: linear-gradient(rgba(39, 81, 159, 0.678), white);
    padding-top: 2rem;

    display: flex;
    justify-content: space-between;
    overflow: hidden;
    // font-family: 'Abel', sans-serif;
    
    
    
    .footer-left{
        padding-left: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        line-height: 1.7;

        hr{
            width: 20%;
            height: 3px;
            height: 3px;
            border: none;
            background: black;
            margin-bottom: .4rem;
        }

        
        
        h3{
            // line-height: 2.1;
            font-size: 1.7rem;
        
        }

        h4{
            font-size: 1.3rem;
        }

        .another-one{
            padding-top: 2rem;
        }
    }

    .footer-right{
        padding-right: 3rem;
        padding-bottom: 1rem;

        iframe{
            border-radius: 9px;
            box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.473);
        }
    }
}



